#postnl-modal .form-field input.short {
	width:50px;
}
.postnl-create-label-content .form-field,
.postnl-change-shipping-options-content .form-field:not(.postnl_default_shipping_options_field) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.postnl-create-label-content .form-field label,
.postnl-change-shipping-options-content .form-field:not(.postnl_default_shipping_options_field) label{
    flex-grow: 1;
}
.postnl-create-label-content .form-field input:not([type="radio"]):not([type="checkbox"]),
.postnl-create-label-content .form-field select {
    width: 100%;
    max-width: 170px;
}
.postnl-change-shipping-options-content .form-field.postnl_default_shipping_options_field {
    flex-flow: column nowrap;
}
.postnl-change-shipping-options-content .form-field.postnl_default_shipping_options_field label {
    display: inline-block;
    margin-bottom: 6px;
}
.postnl-change-shipping-options-content .form-field.postnl_default_shipping_options_field select {
    max-width: 100%;
}
.postnl-change-shipping-options-content .form-field.conditional:not(.domestic){
    display: none;
}

.postnl-action-create-label:after,
.postnl-action-download-label:after {
	content: "";
	background-size: 20px !important;
	display: inline-block;
	margin: 0 !important;
}

.postnl-action-create-label:after {
	background: url(../images/postnl-logo.png) no-repeat center center;
}

.postnl-action-download-label:after {
	background: url(../images/post-download-label.png) no-repeat center center;
}

.postnl_eligible_auto_letterbox {
	font-size: 18px;
}
.postnl_eligible_auto_letterbox.eligible {
	color: green;
}
.postnl_eligible_auto_letterbox.non-eligible {
	color: red;
}