#postnl-modal .form-field input.short {
	width:50px;
}

.postnl-change-shipping-options-content .international{
    display: none;
}

.postnl-modal:after,
.postnl-action-download-label:after {
	content: "";
	background-size: 20px !important;
	display: inline-block;
	margin: 0 !important;
}

.postnl-modal:after {
	background: url(../images/postnl-logo.png) no-repeat center center;
}

.postnl-action-download-label:after {
	background: url(../images/post-download-label.png) no-repeat center center;
}

.postnl_eligible_auto_letterbox {
	font-size: 18px;
}
.postnl_eligible_auto_letterbox.eligible {
	color: green;
}
.postnl_eligible_auto_letterbox.non-eligible {
	color: red;
}