#postnl-login-button {
	min-height: 35px;
	max-height: 60px;
	width: 100%;
	border: 1px solid #F56900;
	background-color: #F56900;
	cursor: pointer;
	outline: none;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	justify-content: center;
	transition: background-color 0.2s ease;
	opacity: 1;
	border-radius: 4px;
	position: relative;
	font-size: 16px;
	color: #ffffff;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
}

#postnl-logo {
	vertical-align: middle;
	display: inline;
}

#postnl-login-button:hover,
#postnl-login-button:focus {
	background-color: #ed7000;
}

.postnl-button-in-minicart{
	margin: auto;
	width: 94%;
}

.postnl-hidden{
	visibility: hidden !important;
}
